
.section-clients {
  &__list {
    margin: 15px;
    
  
    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      margin: -15px;
    }
  }
}

.section-clients {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 12 * 15px) / 6);
      margin: 15px;
    }
  }

  &__thumb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*width: 170px;*/
    height: 92px;

    border: 1px solid $social-links;
    border-radius: 4px;

    transition: border 250ms $timing-function;

    &:hover,
    &:focus {
      border: 1px solid $logo-color;
    }
  }
}

.section-clients {
  &__thumb svg {
    fill: $social-links;
    transition: fill 250ms $timing-function;
  }
}

.section-clients {
  &__thumb:focus svg,
  &__thumb:hover svg {
    fill: $logo-color;
  }
}
