/*1general*/
body {
  color: $body-color;
  background-color: $footer-logo-color;
  font-family: "Roboto", ‘Raleway’ sans-serif;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

h1,
h3,
h2,
h4,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul{
  padding: 0;
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

a {
  display: block;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  /*width: 1200px;*/

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
