.section--background{
    background-color: $background-icon-color;
    
}

.section__title {
    color: $primary-color ; 
    font-family: $main-font;
    font-weight: $main-font-weight;
    letter-spacing: $main-letter-spacing;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px ;
}
    @media screen and(max-width:767px) {
        .section__title {
        font-size: 27px;
    }
}
.comands__box{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.comands{
    margin: 0;
    padding:50px 0 0 0;
    list-style: none;
}
    @media screen and (min-width:768px){
        .comands{
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      flex-wrap: wrap;
      -ms-fill-wrap: wrap;
        margin: -15px;
    }
    }
    @media screen and (min-width:1200px){
        .comands{
        display: flex;
        display: -webkit-box;
      display: -ms-flexbox;
      -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}
.comands__item{
    background-color: $primary-bg-color;
    box-shadow: $shadow-modal;
    border-radius: 0px 0px 4px 4px;
    text-align:center ;
}
  @media screen and (min-width:768px){
    .comands__item{
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
  }
}
  @media screen and (min-width:1200px){
    .comands__item{
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
}
  }
@media screen and (max-width:767px){
    .comands__item:not(:last-child){
        margin-bottom: 30px;
    }
}

.comands__title{
    font-family: $main-font;
    letter-spacing: $main-letter-spacing;
    color: $primary-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.comands__text{
    font-family: $main-font;
    letter-spacing: $main-letter-spacing;
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-top: 10px; 
}