/*5*features*/
/*--Особенности--*/

.visually-hidden {
  /* Скрыли h2 на главной и в портфолио */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-features {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $tel-color;
  }

  &__icon-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 270px;*/
    height: 120px;
    background: $button-color;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
