.features{
    @media screen and(min-width:420px) {
        margin-bottom: 30px;  
        margin-left: 15px;
      }

    @media screen and (min-width:768px){
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
      
    }
    @media screen and (min-width:1200px){
        display: flex;   
    }
    
 }
 .features__item{
 
    @media screen and (min-width:768px){
        flex-basis: 50%;
    }
 }
 .features__item:not(:first-child){

    
    @media screen and (min-width:1200px){
     margin-left: 30px;
    }
 } 
 .features__box{

    @media screen and (min-width:420px){
        
    height: 120px;
    background-size:contain;
    background-color: $background-features-color;
    justify-content: center;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    
    }

    @media screen and (min-width:768px){
        display: flex;
    }
    @media screen and (min-width:1200px){
        height: 120px;
        background-size:contain;
        background-color: $background-features-color;
        margin-bottom: 30px; 
        justify-content: center;
        align-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
    }
}
.features__title{ 
    font-family: $main-font;
    margin-bottom: 10px;
    color: $primary-color;
    font-size: $primary-text-size;
    font-weight: $main-font-weight;
    line-height: 1.14;
    letter-spacing: $main-letter-spacing;
}
.features__text { 
    font-family: $main-font;
    font-size: $primary-text-size;
    color: $primary-text-color;
    line-height: 1.7;
    letter-spacing: $main-letter-spacing;
}