
.section-footer {
  background: $hero-footer-bg;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: left;
  }
}

.container-footer {
  &__contacts {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }
}

/*--Logo--*/
.footer {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__logo-studio {
    color: $footer-logo-color;
  }
}

.footer-address {

  &__item {
    &:not(:nth-child(3)) {
      margin-bottom: 9px;
    }
  }

  &__link {
    color: $footer-logo-color;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
      color: $logo-color;
    }
  }

  &__link-tel {
    color: $footer-tel-color;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
      color: $logo-color;
    }
  }
}

/*--Social links--*/
.join {
 
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $footer-logo-color;
    margin-bottom: 20px;
  }
}

.social-links {
  &__item {
    &:not(:nth-last-child(4)) {
      padding-left: 10px;
    }
  }

  &__icon-thumb--dark {
    transition: background 250ms $timing-function, fill 250ms $timing-function;

    fill: $footer-logo-color;
    background: rgba(255, 255, 255, 0.1);
    transition: background 250ms $timing-function;
  }
}

.social-links {
  &__icon-thumb--dark {
    &:hover,
    &:focus {
      background: $logo-color;
    }
  }
}

/*e-mail input*/
.footer-form {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $footer-logo-color;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__input {
    height: 50px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.03em;
    color: $footer-tel-color;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;

    @media screen and (max-width: 767px) {
      width: 450px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 767px) {
      padding-right: 387px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      padding-right: 120px;
      margin-bottom: 0;
    }

    &::placeholder {
      padding-top: 15px;
      padding-bottom: 15px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;

      color: $footer-tel-color;
    }
  }

  &__button-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;

    text-align: center;
    letter-spacing: 0.06em;

    color: $footer-logo-color;

    background: $logo-color;
    box-shadow: 0px 4px 4px $button-hero-shadow;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
    @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover,
    &:focus {
      background: $button-hero;
    }
  }

  &__icon {
    background-image: url("../images/icon-send.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 28px;
  }
}
