.information{
    background-color: $secondary-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;   
}
.information__title{
    font-style: normal;
    color: $primary-bg-color;
    line-height: 1.7; 
}
 .information__street{
     color: $primary-bg-color;
     margin-bottom: 9px;  
 }
 .footer__information{
    color: $footer-information-color;
    line-height: 1.2;
    transition: color $timing-function;
    text-align: center;
    align-items: baseline;
    &:hover,
    &:focus{
      color:$accent-color;
    }
 }
    @media screen and (min-width:1200px){
        .footer__information{
        display: flex;
        }
    }
    @media screen and (min-width:768px){
        .footer__information{
        display: flex;
        align-items: center;
        justify-content: space-around;
        -ms-flex-pack: distribute;
        margin-bottom: 42px;
    }
}
    @media screen and (max-width:767px){
        .footer__information{
        margin-bottom: 60px;
    }
}
 

.information__contact:not(:last-child){
    margin-bottom: 9px;
 }
.connect{
    margin-top:5px ;
}
    @media screen and(min-width:1200px) {
        .connect{
    display: block;
    margin-left: 70px;
    }
}
.connect__title{
    display: inline-flex; 
}
.connect__link{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
   border-radius: 50%;
   padding: 10px;
   background-color: $primary-bg-color;
   transition: fill $timing-function;
}
.connect__item{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-bg-color;
    margin-bottom: 20px;
}
.connect__icon{
    fill:$primary-bg-color;
    transition: background-color $timing-function;

    &:hover,
    &:focus{
    fill: $primary-bg-color;
 }
}
.connect__link{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $background-link-color;
    fill: $primary-bg-color;
    transition: background-color $timing-function;

    &:hover,
    &:focus{
    background-color: $accent-color;
    fill: $primary-bg-color;
}
}
.connect__network:not(:last-child){
    margin-right: 10px;
}
.mail-nav{
    margin-top: 5px;
}
    @media screen and(min-width:1200px){
        .mail-nav{  
    margin-left: 93px;
}
    }
.mail-nav__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bg-color;
    margin-bottom: 20px;
    }
    .footer-form__button{
        font-family: $main-font;
        color: $primary-bg-color;
        background-color: $accent-color;
        letter-spacing: 0.06em;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px 0px 10px 29px;
        width: 200px;
        height: 50px;
        display:inline-flex;
        border: none;
        margin: 0;
        background-size: contain;

        &::after{
            content: '';
            display: inline-flex;
            margin-left: 10px;
            width: 24px;
            height: 24px;
            background-image: url('../img/svg/icon-send.svg');
            background-size: contain;
        }
    }
        @media screen  and (max-width:767px){
            .footer-form__button{
            margin-left: auto;
            margin-right: auto;
        }
    }
       

.footer-form__input{
    width: 295px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $secondary-bg-color;
    padding: 15px 0px 15px 16px;
    margin-right: 12px;
}
    @media screen and(max-width:767px){
        
   .footer-form__input{
        width: 450px;
        margin-bottom: 20px;
    }
}
    @media screen and (min-width:768px){
        
     .footer-form__input{
        margin-bottom: 20px;
    }
}