/* mobile-menu-container */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $footer-logo-color;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms $timing-function;

  overflow-y: scroll;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 16px;
  color: $body-color;
}

/* button-open */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $logo-color;
  }
}

/* menu-container__mobile */

.menu-container {
  &__mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.mobile-header-tel-email,
.mobile-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-nav {
  &__link {
    padding: 10px;
    font-family: "Roboto", ‘Raleway’ sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8.33vw; /*40px*/
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $body-color;
    text-decoration: none;

    margin-left: 25px;
    padding: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $logo-color;
    }
  }

  &__item {
    &:first-child {
      margin-top: 48px;
      margin-bottom: 35.71px;
    }
    &:nth-child(2n) {
      margin-bottom: 32px;
    }
    &:last-child {
      margin-bottom: 302px;
    }
  }

  &__link--current {
    color: $logo-color;
  }
}

.mobile-header-tel-email {
  &__link--tel {
    font-family: "Roboto", ‘Raleway’ sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 7.08vw; /*34px*/
    line-height: 1.18;
    text-decoration: none;

    color: $logo-color;

    margin-left: 25px;
    margin-bottom: 32px;
  }

  &__link--email {
    font-family: "Roboto", ‘Raleway’ sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5vw; /*24px*/
    line-height: 1.17;

    text-decoration: none;

    color: $tel-color;

    margin-left: 25px;
    margin-bottom: 64px;
  }
}

/* mobile-social-links */
.mobile-social-links {
  list-style: none;
  display: flex;
  margin: 0 0 0 25px;
  padding: 0;

  &__item {
    &:first-child {
      padding-right: 5px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:nth-child(2) {
      padding-right: 5px;
      padding-left: 5px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:nth-child(3) {
      padding-right: 5px;
      padding-left: 5px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:last-child {
      padding-left: 5px;
    }
  }

  &__link {
    font-family: "Roboto", ‘Raleway’ sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.75vw; /*18px*/
    line-height: 1.22;

    color: $logo-color;

    text-decoration: none;
  }
}
