


.filters {
  display: flex;
 
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  @media screen and (max-width: 767px) {
    &__item {
      &:nth-child(-n + 3) {
        margin-bottom: 16px;
      }
    }
  }

  &__button {
    display: inline-block;
    padding: 6px 22px;
    min-width: 29px;

    font-family: "Roboto", ‘Raleway’ sans-serif;
    font-style: normal;
    background: $button-color;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 0;

    transition: background 250ms $timing-function, color 250ms $timing-function;

    &:hover,
    &:focus {
      background: $logo-color;
      color: $footer-logo-color;
      box-shadow: 0px 3px 1px $modal-btn-close-border,
        0px 1px 2px $filters-box-shadow, 0px 2px 2px r$modal-box-shadow1;
    }
  }

  &__button--active {
    background: $logo-color;
    color: $footer-logo-color;
    box-shadow: 0px 3px 1px $modal-btn-close-border,
      0px 1px 2px $filters-box-shadow, 0px 2px 2px $modal-box-shadow1;
  }
}

.project {

  @media screen and (min-width: 768px) {
   margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px)  {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }

  &__link {
    text-decoration: none;
    transition: box-shadow 250ms $timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px $modal-box-shadow1,
        0px 4px 4px $project-link-box-shadow1,
        1px 4px 6px $project-link-box-shadow2;
    }
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;

  &__title {
    margin: 0;
    padding: 63px 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    color: $footer-logo-color;

    @media screen and (max-width: 479px) {
      padding: 77px 24px;
      font-size: 3.758vw; /*18px*/
    }
    @media screen and (min-width: 480px) {
      padding: 77px 24px;
    }
    @media screen and (min-width: 768px) {
      padding: 49px 24px;
    }

    .project__item:focus &,
    .project__item:hover & {
      transform: translateY(0);
      transition: transform 250ms $timing-function;
    }
  }

  &__title,
  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0.5%;
    left: 0;
    width: 100%;
    height: 100%;

    transition: transform 250ms $timing-function;
    transform: translateY(100%);
  }
}

.project-thumb::before {
  background: $logo-color;

  .project__item:focus &,
  .project__item:hover & {
    transform: translateY(0);
    transition: transform 250ms $timing-function;
  }
}

.project-border {
  border-left: 1px solid $project-item-border;
  border-right: 1px solid $project-item-border;
  border-bottom: 1px solid $project-item-border;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;

  &__title {
    font-family: "Roboto", ‘Raleway’ sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
    color: $body-color;

    margin-bottom: 4px;
  }

  &__text {
    color: $tel-color;
    letter-spacing: 0.03em;
    line-height: 1.9;
    margin: 0;
  }
}
