
.section-team {
  background-color: $button-color;

  &__title{
    margin-bottom: 30px;
  }
  &__list {
    margin-top: 50px;
   

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }    
  }

  &__item {
    text-align: center;
    background: $footer-logo-color;
    box-shadow: 0px 1px 3px $modal-box-shadow1, 0px 1px 1px $modal-box-shadow3,
      0px 2px 1px $modal-box-shadow2;
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
.section-team__box{
  padding: 30px 0;
}
  &__box-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  
  &__box-text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $tel-color;
  }
}



.section-team .social-links {
  &__list {
    margin-top: 16px;
  }
}

.social-links {
  &__list {
    display: flex;
    justify-content: center;

    list-style: none;
    padding: 0;
  }

  &__item {
    &:not(:nth-last-child(4)) {
      padding-left: 10px;
    }
  }

  &__icon-thumb {
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 44;
    height: 44;
    fill: $social-links;
    border-radius: 50%;
    transition: background 250ms $timing-function, fill 250ms $timing-function;

    &:hover,
    &:focus {
      fill: $footer-logo-color;
      background: $logo-color;
    }
  }
}
