.section--no-padding-top{
    padding-top: 0;
    
    @media (max-width:1199px) {
        display: none;
    }
}
.work-section{
margin-bottom: 50px;
color: $primary-color ;
font-weight: $main-font-weight;
font-family: $main-font;
font-size: 36px;
letter-spacing: $main-letter-spacing;
line-height: 1.2;
text-align: center;
}
.work-section__title{
    display: flex;
    justify-content: center; 
    }
.work-section__item:not(:first-child){
     margin-left: 30px;
   }
.work-section__thumb{
    position: relative;
    display: block;

    & p{
        font-weight: $main-font-weight;
        font-family: $main-font;
        font-size: $primary-text-size;
        letter-spacing: $main-letter-spacing;
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 370px;
        line-height: 1.14;
        text-align: center;
        padding-top: 27px;
        text-transform: uppercase;
        color: $primary-bg-color;
        background: $background-thumb-color;
    }
}   