$logo-color: #2196f3;
$body-color: #212121;
$tel-color: #757575;
$footer-tel-color: rgba(255, 255, 255, 0.6);
$footer-logo-color: #ffffff;
$button-color: #f5f4fa;
$logo-studio: #000000;
$button-hero: #188ce8;
$button-hero-shadow: rgba(0, 0, 0, 0.15);
$hero-footer-bg: #2f303a;
$header-border: #ececec;
$project-item-border: #eeeeee;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$social-links: #afb1b8;
$modal-background: rgba(0, 0, 0, 0.2);
$modal-box-shadow1: rgba(0, 0, 0, 0.12);
$modal-box-shadow2: rgba(0, 0, 0, 0.2);
$modal-box-shadow3: rgba(0, 0, 0, 0.14);
$modal-btn-close-border: rgba(0, 0, 0, 0.1);
$modal-input-border: rgba(33, 33, 33, 0.2);
$modal-input-placeholder: #2a2a2a;
$modal-textarea: rgba(117, 117, 117, 0.5);
$hero-gradient: rgba(47, 48, 58, 0.4);
$doing-background: rgba(47, 48, 58, 0.8);
$filters-box-shadow: rgba(0, 0, 0, 0.08);
$project-link-box-shadow1: rgba(0, 0, 0, 0.06);
$project-link-box-shadow2: rgba(0, 0, 0, 0.16);